@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark-bg: #020617;
  --color-dark-card: #0f172a;
  --color-dark-border: #1e293b;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 10px;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #334155;
  }
}
